@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@600&display=swap");
* {
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: "Encode Sans Semi Expanded", sans-serif;
}
