* {
   outline: none;
}

.icon__div {
   width: 36px;
}
.icon__div i {
   font-size: 1.5rem !important;
}
.list__icon i {
   font-size: 1.5rem !important;
}
.nav__links {
   border-radius: 1.2rem;
}
.nav__links:hover {
   cursor: pointer;
   background-color: rgb(228, 228, 228);
   transition: ease-in 0.3s;
   border-radius: 1.2rem;
}
.user__div {
   padding: 5px;
}
.user__div:hover {
   cursor: pointer;
   border-radius: 0.2rem;
   padding: 5px;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.nav__bar::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.nav__bar {
   -ms-overflow-style: none; /* IE and Edge */
   scrollbar-width: none; /* Firefox */
}
